
.slide-form{ display: flex; flex-flow: row wrap; justify-content: center; align-items: center; gap:1vw; width: 94vw;  height: 22vw; }
button{ background: none; border: none; outline: none; z-index: 2;}
button img{ opacity: .3;}
.slide-frame{  height: 22vw; overflow: hidden; width: 85vw;}
.slide-various-frame ul{ width:172vw ;}
.slide-frame ul li{ float: left; overflow: hidden; margin-right: 1vw; width: 20.5vw; height: 22vw; }

.toons-skills{width: 60vw; height: 130vw;  padding-top: 4vw;
    display: flex; flex-flow: column nowrap; gap:2vw; justify-content: center; }
.toons-skills h2{ font-size: 4vw; text-align: center;}
.left-img-txt16{/*  height: 24px;
    display: flex; flex-flow: row wrap ; gap: 1vw;  */
    /* justify-content: center start;  */
    border: 1px solid #77777755;    padding: 1vw; }
.left-img-txt16 .left-img{ float: left; width: 16vw; height: 16vw; overflow: hidden; }
.left-img-txt16 .left-txt{  float: right; width: 41vw; height: 16vw; }
.left-img-txt16 .left-txt h3{ font-size: 2vw; line-height: 3vw; text-transform: uppercase ; color: #555;}
.left-img-txt16 .left-txt p{ font-size: 1.2vw; line-height: 1.4vw; color: #555;}

hr { border-top: 2px solid #77777744; z-index: 6; height: 1px;  width: 80vw;}


.right-img-txt16{ 
    /* display: flex; flex-flow: row nowrap ;     gap: 1vw; justify-content: center end;  */
    padding: 1vw; border: 1px solid #77777755;  }

.right-img-txt16 .right-img{ float: right;  width: 16vw; height: 16vw; overflow: hidden; }
.right-img-txt16 .right-txt{ float: left; width: 41vw; height: 16vw;  }
.right-img-txt16 .right-txt h3{ font-size: 2vw; line-height: 3vw; text-align: right; text-transform: uppercase ; color: #555; }
.right-img-txt16 .right-txt p{ font-size: 1.2vw; line-height: 1.4vw;  text-align: right;  color: #555; }

.left-img-txt16 .left-img , .right-img-txt16 .right-img {  border: 2px solid #77777755; height: 17vw; 
display:  flex; justify-content: center; }
.left-img-txt16 .left-img img, .right-img-txt16 .right-img img
{ height:  100%; }


.toons-items{width: 88vw; height: 74vw;  padding-top: 4vw;
    display: flex; flex-flow: row wrap; gap:1vw; justify-content: center; }
.toons-items h2{ font-size: 4vw; text-align: center; margin-bottom: 4vw; flex-grow: 1; text-align: center; width: 88vw;}
/* .toons-items h2:last-of-type{ text-align: left;width: 32vw;} */
.left-img-txt21{
    /*  height: 24px;    display: flex; flex-flow: row wrap ; gap: 1vw;  */
    /* justify-content: center start;  */
    border: 1px solid #77777755; padding: 1vw; width: 42vw;  height: 19vw; }

.left-img-txt21 .left-img{ float: left; width: 17vw; border-radius: 4px; border: 2px solid #77777755; height: 17vw; overflow: hidden; }
.left-img-txt21 .left-img img{  width: 100%;  }
.left-img-txt21 .left-txt{  float: right; width: 20vw; height: 17vw; }
.left-img-txt21 .left-txt h3{ font-size: 2vw; line-height: 3vw; text-transform: uppercase ; color: #555;}
.left-img-txt21 .left-txt p{ font-size: 1.2vw; line-height: 1.4vw; color: #555;}


.toons-snapshots{ padding-top: 5vw; display: flex; flex-flow: row wrap; width: 100vw; height: 73vw;;overflow: hidden; }
.toons-snapshots h2{ font-size: 4vw; text-align: center; margin-bottom: 8vw; margin-bottom: 4vw;flex-grow: 1; text-align: center; width: 88vw;}

.toons-snapshots div{ width: 20vw; height: 20vw; overflow: hidden; box-sizing: border-box;
    border: 2px solid #555;   }
.toons-snapshots div img{ filter: invert(100); }
.toons-snapshots div img:hover{ filter: invert(0); }

.slide-category-form{ padding: 3vw 0; height: 28vw; overflow: hidden;}
.slide-category-wrap li{ border: 1px solid #77777777; border-radius: 20px;}
.slide-category-frame ul{ width:172vw ; overflow: hidden;}

.category-same-img{overflow: hidden; height: 13vw; display: flex; justify-content: center;}
.category-same-img img{ height: 180%; }
.category-same-txt{ padding: 1vw;}
.category-same-txt h3{ font-size: 1.4vw;}
.category-same-txt p{ padding-top: 6px; font-size: 1.2vw;}


